<div class="card">
  <div class="card-body">
    <h3 class="card-title text-end">
      <span [appBackgroundEstado]="turno.estado!">
        Estado: {{ turno.estado }}
      </span>
    </h3>
    <h3 class="card-title">Dia: {{ turno.dia }}</h3>
    <h3 class="card-title">Horario: {{ turno.horario }}</h3>
    <p class="card-text">Especialidad: {{ turno.especialidad }}</p>
    <p class="card-text">Especialista: {{ turno.nombre_especialista }}</p>
    <div class="row">
      <button
        *ngIf="
          turno.estado! != 'tomado' &&
          turno.estado! != 'cancelado' &&
          turno.estado! != 'finalizado'
        "
        class="btn btn-danger mb-2"
        data-bs-toggle="modal"
        data-bs-target="#CancelarModal"
        (click)="exponerTurno()"
      >
        Cancelar Turno
      </button>
      <button
        *ngIf="turno.resenia!.length > 0"
        class="btn btn-info mb-2"
        data-bs-toggle="modal"
        data-bs-target="#reseniaModal"
        (click)="exponerTurno()"
      >
        Ver Reseña
      </button>
      <button
        *ngIf="
          turno.estado == 'finalizado' &&
          turno.resenia!.length > 0 &&
          !turno.encuesta!
        "
        class="btn btn-info mb-2"
        data-bs-toggle="modal"
        data-bs-target="#encuestaModal"
        (click)="exponerTurno()"
      >
        Completar Encuesta
      </button>
      <button
        *ngIf="turno.estado == 'finalizado' && !turno.calificacion"
        class="btn btn-info mb-2"
        data-bs-toggle="modal"
        data-bs-target="#calificacionModal"
        (click)="exponerTurno()"
      >
        Calificar Atención
      </button>
    </div>
  </div>
</div>
