<div class="row mt-4" *ngIf="turnosPaciente.length > 0">
  <div class="container-fluid mb-5">
    <div class="row">
      <input
        [@openClose]="isOpen ? 'open' : 'closed'"
        class="form-control me-2"
        type="search"
        placeholder="Buscar por especialidad o especialista"
        aria-label="Search"
        (keyup)="onChangeBusqueda($event)"
      />
      <div class="col-4">
        <button class="btn btn-success" (click)="onBuscar()">Buscar ></button>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3" *ngFor="let turno of turnosFiltrados">
    <app-card-turno (accionTurnoEvent)="onAccionTurno($event)" [turno]="turno" class="col-4 mb-3"></app-card-turno>
  </div>
</div>
<!-- Modal Cancelar -->
<div
  class="modal fade"
  id="CancelarModal"
  tabindex="-1"
  aria-labelledby="CancelarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CancelarModalLabel">Cancelar Turno</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>Dejar Comentario</h4>
        <textarea
          [(ngModel)]="resenia.comentario"
          maxlength="300"
          class="form-control"
          name="comentario"
          cols="60"
          rows="5"
          style="max-height: 130px"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCancelarModalCancelar()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onCancelarturno(turnoActivo!.id_turno!)"
          data-bs-dismiss="modal"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Cancelar END -->
<!-- Modal encuesta -->
<div
  class="modal fade"
  id="encuestaModal"
  tabindex="-1"
  aria-labelledby="encuestaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="encuestaModalLabel">Encuesta</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>¿Cómo te pareció el sistema de turno de la clínica?</h4>
        <textarea
          [(ngModel)]="encuesta.pregunta1"
          maxlength="300"
          class="form-control"
          name="encuesta"
          cols="60"
          rows="5"
          style="max-height: 130px"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCancelarModalCancelar()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onEnviarEncuesta(turnoActivo!.id_turno!)"
          data-bs-dismiss="modal"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal encuesta END -->
<!-- Modal ver reseña -->
<div
  *ngIf="turnoActivo && turnoActivo!.resenia!.length > 0"
  class="modal fade"
  id="reseniaModal"
  tabindex="-1"
  aria-labelledby="reseniaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reseniaModalLabel">Comentario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          {{ turnoActivo!.resenia![0].comentario }}
        </p>
        <p>Motivo: {{ turnoActivo!.resenia![0].motivo }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal ver reseña END -->

<!-- Modal calificar -->
<div
  class="modal fade"
  id="calificacionModal"
  tabindex="-1"
  aria-labelledby="calificacionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calificacionModalLabel">Encuesta</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>¿Cómo califica la atención?</h4>
        <div class="row">
          <div class="form-check form-check-inline">
            <input
              [(ngModel)]="calificacion"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="Pésima"
            />
            <label class="form-check-label" for="inlineRadio1">Pésima</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              [(ngModel)]="calificacion"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="Mala"
            />
            <label class="form-check-label" for="inlineRadio2">Mala</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              [(ngModel)]="calificacion"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="Aceptable"
            />
            <label class="form-check-label" for="inlineRadio2">Aceptable</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              [(ngModel)]="calificacion"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="Muy Buena"
            />
            <label class="form-check-label" for="inlineRadio2">Muy Buena</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              [(ngModel)]="calificacion"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="Excelente"
            />
            <label class="form-check-label" for="inlineRadio2">Excelente</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCancelarModalCancelar()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onEnviarCalificacion(turnoActivo!.id_turno!)"
          data-bs-dismiss="modal"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal calificar END -->

