.contenedor-redondo {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contenedor-redondo:hover {
  box-shadow: none;
}
.autocomplete-casero {
    background-color: #ffffff;
  border: 5px solid #ced4da;
  position: absolute;
  top: -8px;
  z-index: 1000;
}
ul {
    padding-left: 0;
  li {
    list-style-type: none;
    cursor: pointer;
    i{
        cursor: pointer;
    }
  }
  li:hover{
      background-color: #ced4da;
  }
}
