.contenedor-redondo{
    border-radius: 50%;
    width: 280px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.contenedor-redondo:hover{
    box-shadow: none;
}