<main class="row justify-content-center">
  <section class="col-6 text-center">
    <img class="mb-2 img-fluid" src="{{ urlLogoEmpresa }}" />
    <spinner *ngIf="mostrarSpinner"></spinner>
    <!-- Modal Start -->
    <div
      class="modal fade"
      id="modalRapido"
      tabindex="-1"
      aria-labelledby="modalRapidoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalRapidoLabel">
              Eliga el tipo de cuenta
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-between">
              <div class="col-2" *ngFor="let usuario of accesosRapido">
                <button
                  class="text-center btn"
                  (click)="llenarFormulario(usuario.email!, usuario.password!)"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <img
                    [src]="usuario.urlImgs![0] | getDownloadURL"
                    class="contenedor-redondo"
                  />
                  <p>{{ usuario.tipoUsuario | titlecase }}</p>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->
    <form
      *ngIf="!mostrarSpinner"
      [formGroup]="formulario"
      (ngSubmit)="ingresar()"
      class="row justify-content-center"
    >
      <div class="form-floating mb-2 col-8">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          name="email"
          autocomplete="off"
          value="{{ formulario.value['email'] }}"
        />
        <label for="email" class="ps-4">Email</label>
      </div>
      <div class="form-floating mb-2 col-8">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          name="password"
          autocomplete="off"
          value="{{ formulario.value['password'] }}"
        />
        <label for="password" class="ps-4">Contraseña</label>
      </div>
      <div class="alert alert-danger mt-3" role="alert" *ngIf="mostrarError">
        <small>{{ mensajeError }}</small>
      </div>
      <div class="row justify-content-around">
        <button class="btn btn-lg btn-primary mt-4 col-3" type="submit">
          Ingresar
        </button>
        <button
          class="btn btn-lg btn-primary mt-4 col-3"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modalRapido"
        >
          Acceso Rápido
        </button>
        <button
          class="btn btn-lg btn-primary mt-4 col-3"
          type="button"
          (click)="onRegistrarse()"
        >
          Registrarse
        </button>
      </div>
    </form>
  </section>
</main>
