<div class="row mt-1" *ngIf="!showAltaTurno">
  <div class="col-12">
    <button
      class="btn btn-info ms-3 me-3"
      (click)="showTablaPacientes()"
      *ngIf="!showRegistrar"
    >
      Pacientes
    </button>
    <button
      class="btn btn-info me-3"
      (click)="showTablaEspecialistas()"
      *ngIf="!showRegistrar"
    >
      Especialistas
    </button>
    <button
      class="btn btn-info me-3"
      (click)="showTablaAdministradores()"
      *ngIf="!showRegistrar"
    >
      Administradores
    </button>
    <button (click)="descargarExcel()" class="btn btn-warning p-0 me-3">
      Descargar Usuarios
      <i
        class="bi bi-file-earmark-arrow-down text-dark"
        title="Agregar Historia Clinica"
        style="font-size: 24px"
      ></i>
    </button>
    <button
      class="btn btn-success me-3"
      (click)="showCrearUsuario()"
      *ngIf="!showRegistrar"
    >
      Crear Usuario
    </button>
    <button
      class="btn btn-warning me-3"
      (click)="cancelarCrearUsuario()"
      *ngIf="showRegistrar"
    >
      Cancelar Creacion de Usuario
    </button>
  </div>
</div>
<div class="mt-5">
  <app-register *ngIf="showRegistrar" [adminPanel]="true"></app-register>
</div>
<table
  *ngIf="
    tablaActiva == 'paciente' &&
    !showRegistrar &&
    !showAltaTurno &&
    !showMiHistoriaClinica
  "
  class="table"
  id="tabla-paciente"
>
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Obra Social</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuariosFiltrados; let i = index">
      <td>{{ user.nombre }}</td>
      <td>{{ user.apellido }}</td>
      <td>{{ user.dni }}</td>
      <td>{{ user.obraSocial }}</td>
      <th scope="row">
        <button (click)="onAgregarTurno(user)" class="btn btn-sm p-0">
          <i
            id="{{ i }}BtnAgregarTurno"
            class="bi bi-plus-square-fill"
            title="Agregar turno"
            style="color: green; font-size: 24px"
          ></i>
        </button>
        <button (click)="onShowHistoriaClinica(user)" class="btn btn-sm p-0">
          <i
            id="{{ i }}BtnVerReseniaHistoriaClinica"
            class="bi bi-journal-text text-dark"
            title="Agregar Historia Clinica"
            style="font-size: 24px"
          ></i>
        </button>
      </th>
    </tr>
  </tbody>
</table>
<table
  *ngIf="
    tablaActiva == 'especialista' &&
    !showRegistrar &&
    !showAltaTurno &&
    !showMiHistoriaClinica
  "
  class="table"
  id="tabla-especialista"
>
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuariosFiltrados; let i = index">
      <td>{{ user.nombre }}</td>
      <td>{{ user.apellido }}</td>
      <td>{{ user.dni }}</td>
      <td>{{ user.especialidad | especialidadesToString }}</td>
      <td class="p-0 m-0">
        <button
          class="btn btn-sm p-0"
          *ngIf="user.aprobado"
          (click)="onInhabilitarEspecialista(user.email, i, $event)"
        >
          <i
            id="{{ i }}BtnHabilitarEspecialista"
            class="bi bi-x-square-fill"
            title="Inhabilitar"
            style="color: red; font-size: 24px"
          ></i>
        </button>
        <button
          class="btn btn-sm p-0"
          *ngIf="!user.aprobado"
          (click)="onHabilitarEspecialista(user.email, i, $event)"
        >
          <i
            id="{{ i }}BtnInhabilitarEspecialista"
            class="bi bi-check-square-fill"
            title="Habilitar"
            style="color: green; font-size: 24px"
          ></i>
        </button>
        <div class="spinnerChico">
          <spinner hidden id="{{ i }}EspecialistaAdmin"></spinner>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table
  *ngIf="
    tablaActiva == 'administrador' &&
    !showRegistrar &&
    !showAltaTurno &&
    !showMiHistoriaClinica
  "
  class="table"
  id="tabla-administrador"
>
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuariosFiltrados">
      <td>{{ user.nombre }}</td>
      <td>{{ user.apellido }}</td>
      <td>{{ user.dni }}</td>
      <th scope="row">1</th>
    </tr>
  </tbody>
</table>

<div class="row justify-content-center">
  <app-historia-clinica-card
    *ngIf="showMiHistoriaClinica"
    [email_paciente]="emailPaciente"
  ></app-historia-clinica-card>
  <button
    *ngIf="showMiHistoriaClinica"
    class="btn btn-danger col-4 mt-3"
    (click)="volverAlMenuPrincipal()"
  >
    Volver
  </button>
  <app-alta-turno
    [emailPacienteInput]="emailPaciente"
    [nombrePacienteInput]="nombrePaciente"
    *ngIf="showAltaTurno"
    (procesoDeAltaTerminado)="onProcesoDeAltaTerminado()"
  ></app-alta-turno>
  <button
    *ngIf="showAltaTurno"
    class="btn btn-danger col-4 mt-3"
    (click)="cancelarAgregarTurno()"
  >
    Cancelar
  </button>
</div>
