<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a (click)="onShowMiPerfil()">
      <span class="fs-4 me-5">Mi Perfil</span>
    </a>
    <a
      (click)="onShowMisHorarios()"
      *ngIf="currentUser.tipoUsuario == 'especialista'"
    >
      <span class="fs-4">Mis Horarios</span>
    </a>
    <a
      (click)="onShowMiHistoriaClinica()"
      *ngIf="currentUser.tipoUsuario == 'paciente'"
    >
      <span class="fs-4">Mi Historia Clínica</span>
    </a>
  </header>
  <app-mis-horarios
    [especialista]="currentUser"
    *ngIf="showMisHorarios && currentUser.tipoUsuario == 'especialista'"
  ></app-mis-horarios>
  <app-historia-clinica-card
    *ngIf="showMiHistoriaClinica"
    [email_paciente]="currentUser.email"
  ></app-historia-clinica-card>
  <app-perfil
    [currentUser]="currentUser"
    *ngIf="showMiPerfil && currentUser"
  ></app-perfil>
</div>
