<h4 class="text-center">Formulario de Historia Clínica</h4>
<div class="row justify-content-around">
  <h4 class="text-left">
    Ultimo turno tomado con Especialidad: {{ turno.especialidad }}
  </h4>
  <h4 class="text-left">Fecha: {{ turno.dia }} {{ turno.horario }}</h4>
  <div class="col-10">
    <form [formGroup]="formularioHistoriaClinica" class="col-12">
      <div class="input-group mb-3">
        <label class="input-group-text" for="altura">Altura:</label>
        <input
          formControlName="altura"
          type="number"
          class="form-control form-control-sm"
          name="altura"
          autocomplete="off"
          placeholder="Cm."
        />
      </div>
      <!-- ErrorMessages altura -->
      <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('altura')?.hasError('required') &&
          formularioHistoriaClinica.get('altura')?.touched
        "
      >
        * La altura es requerida.
      </div>
      <!-- ErrorMessages altura END -->

      <div class="input-group mb-3">
        <label class="input-group-text" for="peso">Peso:</label>
        <input
          formControlName="peso"
          type="number"
          class="form-control form-control-sm"
          name="peso"
          autocomplete="off"
          placeholder="Kg."
        />
      </div>
      <!-- ErrorMessages peso -->
      <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('peso')?.hasError('required') &&
          formularioHistoriaClinica.get('peso')?.touched
        "
      >
        * El peso es requerido.
      </div>
      <!-- ErrorMessages peso END -->
      <div class="input-group mb-3">
        <label class="input-group-text" for="temperatura">Temperatura:</label>
        <input
          formControlName="temperatura"
          type="number"
          class="form-control form-control-sm"
          name="temperatura"
          autocomplete="off"
          placeholder="C°"
        />
      </div>
      <!-- ErrorMessages temperatura -->
      <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('temperatura')?.hasError('required') &&
          formularioHistoriaClinica.get('temperatura')?.touched
        "
      >
        * La temperatura es requerida.
      </div>
      <!-- ErrorMessages temperatura END -->
      <div class="input-group mb-3">
        <label class="input-group-text" for="presion">Presión:</label>
        <input
          formControlName="presion"
          type="text"
          class="form-control form-control-sm"
          name="presion"
          autocomplete="off"
          placeholder="max/min"
        />
      </div>
      <!-- ErrorMessages presion -->
      <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('presion')?.hasError('required') &&
          formularioHistoriaClinica.get('presion')?.touched
        "
      >
        * La presion es requerida.
      </div>
      <!-- ErrorMessages presion END -->
    </form>
    <!-- <div class="input-group mb-3">
      <label class="input-group-text" for="temperatura">Temperatura:</label>
      <input
        formControlName="temperatura"
        type="number"
        class="form-control form-control-sm"
        name="temperatura"
        autocomplete="off"
        placeholder="C°"
      />
    </div> -->

    <div class="input-group mb-3">
      <label class="input-group-text" for="extra1">Información N°1:</label>
      <input
        [(ngModel)]="deta1"
        type="text"
        class="form-control form-control-sm"
        name="deta1"
        autocomplete="off"
        placeholder="Detalle"
      />
      <input
        [(ngModel)]="extra1"
        type="text"
        class="form-control form-control-sm"
        name="extra1"
        autocomplete="off"
        placeholder="Observación"
      />
      <div (click)="onShowExtra2()" *ngIf="!showExtra2">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-plus-circle-fill text-success"></i>
        </h1>
      </div>
    </div>
    <!-- ErrorMessages extra1 -->
    <!-- <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('extra1')?.hasError('required') &&
          formularioHistoriaClinica.get('extra1')?.touched
        "
      >
        * La información extra n°1 es requerida.
      </div> -->
    <!-- ErrorMessages extra1 END -->
    <div class="input-group mb-3" *ngIf="showExtra2">
      <label class="input-group-text" for="extra2">Información N°2:</label>
      <input
        [(ngModel)]="deta2"
        type="text"
        class="form-control form-control-sm"
        name="deta2"
        autocomplete="off"
        placeholder="Detalle"
      />
      <input
        [(ngModel)]="extra2"
        type="text"
        class="form-control form-control-sm"
        name="extra2"
        autocomplete="off"
        placeholder="Observación"
      />
      <div (click)="onShowExtra3()" *ngIf="showExtra1 && !showExtra3">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-plus-circle-fill text-success"></i>
        </h1>
      </div>
      <div (click)="onCleanExtra2()" *ngIf="showExtra2 && !showExtra3">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-dash-circle-fill text-danger"></i>
        </h1>
      </div>
    </div>
    <!-- ErrorMessages extra2 -->
    <!-- <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('extra2')?.hasError('required') &&
          formularioHistoriaClinica.get('extra2')?.touched
        "
      >
        * La información extra n°1 es requerida.
      </div> -->
    <!-- ErrorMessages extra1 END -->
    <div class="input-group mb-3" *ngIf="showExtra3">
      <label class="input-group-text" for="extra3">Información N°3:</label>
      <input
        [(ngModel)]="deta3"
        type="text"
        class="form-control form-control-sm"
        name="deta3"
        autocomplete="off"
        placeholder="Detalle"
      />
      <input
        [(ngModel)]="extra3"
        type="text"
        class="form-control form-control-sm"
        name="extra3"
        autocomplete="off"
        placeholder="Observación"
      />
      <div (click)="onShowExtra4()" *ngIf="showExtra2 && !showExtra4">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-plus-circle-fill text-success"></i>
        </h1>
      </div>
      <div (click)="onCleanExtra3()" *ngIf="showExtra3 && !showExtra4">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-dash-circle-fill text-danger"></i>
        </h1>
      </div>
    </div>
    <div class="input-group mb-3 justify-content-end" *ngIf="showExtra4">
      <label class="input-group-text" for="extra4">Información N°4:</label>
      <input
        [(ngModel)]="deta4"
        type="text"
        class="form-control form-control-sm"
        name="deta4"
        autocomplete="off"
        placeholder="Detalle"
      />
      <input class="form-control form-control-sm" type="number" disabled value="{{extra4}}">
      <div class="input-group mb-3 mt-3">
        <span class="input-group-text">0</span>
        <input
          [(ngModel)]="extra4"
          type="range"
          class="form-range form-control col-10 h-100"
          min="0"
          max="100"
          name="extra4"
          autocomplete="off"
          placeholder="Observación"
        />
        <span class="input-group-text">100</span>
      </div>
      <div class="row">
        <div
          class="col-5"
          (click)="onShowExtra5()"
          *ngIf="showExtra3 && !showExtra5"
        >
          <h1 class="m-0 ms-3 p-0">
            <i class="bi bi-plus-circle-fill text-success"></i>
          </h1>
        </div>
        <div
          class="col-5"
          (click)="onCleanExtra4()"
          *ngIf="showExtra3 && !showExtra5"
        >
          <h1 class="m-0 ms-3 p-0">
            <i class="bi bi-dash-circle-fill text-danger"></i>
          </h1>
        </div>
      </div>
    </div>
    <div class="input-group mb-3" *ngIf="showExtra5">
      <label class="input-group-text" for="extra5">Información N°5:</label>
      <input
        [(ngModel)]="deta5"
        type="text"
        class="form-control form-control-sm"
        name="deta5"
        autocomplete="off"
        placeholder="Detalle"
      />
      <input
        [(ngModel)]="extra5"
        type="number"
        class="form-control form-control-sm"
        name="extra5"
        autocomplete="off"
        placeholder="Observación Numérica"
      />
      <div (click)="onShowExtra6()" *ngIf="showExtra4 && !showExtra6">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-plus-circle-fill text-success"></i>
        </h1>
      </div>
      <div (click)="onCleanExtra5()" *ngIf="showExtra4 && !showExtra6">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-dash-circle-fill text-danger"></i>
        </h1>
      </div>
    </div>
    <div class="input-group mb-3 justify-content-around" *ngIf="showExtra6">
      <label class="input-group-text" for="extra6">Información N°6:</label>
      <input
        [(ngModel)]="deta6"
        type="text"
        class="form-control form-control-sm"
        name="deta6"
        autocomplete="off"
        placeholder="Detalle"
      />
      <span class="input-group-text">No</span>
      <div class="form-check form-switch col-2 ps-5">
        <input
          [(ngModel)]="extra6"
          type="checkbox"
          role="switch"
          class="form-check-input h-75 w-100"
          name="extra6"
          autocomplete="off"
          placeholder="Observación"
        />
      </div>
      <span class="input-group-text">Si</span>

      <div (click)="onCleanExtra6()" *ngIf="showExtra6">
        <h1 class="m-0 ms-3 p-0">
          <i class="bi bi-dash-circle-fill text-danger"></i>
        </h1>
      </div>
    </div>
    <!-- ErrorMessages extra3 -->
    <!-- <div
        class="form-text text-danger"
        *ngIf="
          formularioHistoriaClinica.get('extra1')?.hasError('required') &&
          formularioHistoriaClinica.get('extra1')?.touched
        "
      >
        * La información extra n°1 es requerida.
      </div> -->
    <!-- ErrorMessages extra3 END -->

    <button
      type="button"
      class="btn btn-success"
      [disabled]="!formularioHistoriaClinica.valid || !formCheck"
      (click)="onSubmit()"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-danger" (click)="onCancelar()">
      Cancelar
    </button>
  </div>
</div>
