<header *ngIf="userHasLogged">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <img src="{{ urlLogoEmpresa }}" class="img-fluid" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarCollapse"
      >
        <ul class="navbar-nav mb-2 mb-md-0">
          <!-- Header Especialista -->
          <li class="nav-item" *ngIf="userData">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              class="nav-link"
              (click)="onMiPerfil()"
              >Mi Perfil</a
            >
          </li>
          <li class="nav-item" *ngIf="userData?.tipoUsuario == 'especialista'">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              class="nav-link"
              (click)="onPacientes()"
              >Pacientes</a
            >
          </li>
          <!-- Header Especialista FIN -->
          <!-- Header Paciente -->
          <li
            class="nav-item"
            *ngIf="
              userData?.tipoUsuario == 'paciente' ||
              userData?.tipoUsuario == 'especialista'
            "
          >
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              class="nav-link"
              (click)="onMisTurnos()"
              >Mis Turnos</a
            >
          </li>
          <!-- Header Paciente FIN -->
          <!-- Header Administrador -->
          <li class="nav-item" *ngIf="userData?.tipoUsuario == 'administrador'">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              class="nav-link"
              (click)="onUsuarios()"
              >Usuarios</a
            >
          </li>
          <li class="nav-item" *ngIf="userData?.tipoUsuario == 'administrador'">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              class="nav-link"
              (click)="onTurnos()"
              >Turnos</a
            >
          </li>
          <li class="nav-item" *ngIf="userData?.tipoUsuario == 'administrador'">
            <a
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              class="nav-link"
              (click)="onInformes()"
              >Informes</a
            >
          </li>
          <!-- Header Administrador END -->
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              (click)="onLogout()"
              >Cerrar sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
