<div class="col-12">
  <div class="row mb-3 justify-content-center">
    <div class="col-12 text-center">
      <label class="fs-4 fw-bold">Elija una Especialidad</label>
    </div>
    <div class="row justify-content-center">
      <div
        class="col-3"
        *ngFor="let especialidad of especialidadesDisponibles; let i = index"
        id="{{ i }}contenedorEspecialidad"
      >
        <button
          class="text-center btn col-12"
          (click)="onEspecialidadSeleccionada(especialidad, $event)"
        >
          <img [src]="especialidad.urlImg!" class="contenedor-rectangular" />
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3 justify-content-center text-center">
    <div *ngIf="showAddEspecialista">
      <label class="fs-4 fw-bold">Seleccione un Especialista</label>
      <div class="row justify-content-center">
        <div
          class="col-2 mb-2"
          *ngFor="let especialista of especialistasFiltrados; let i = index"
          id="{{ i }}contenedorEspecialista"
        >
          <button
            [disabled]="especialistasFiltrados.length == 1"
            class="btn contenedor-rectangular"
            (click)="onEspecialistaSeleccionado(especialista, $event)"
          >
            {{ especialista.nombre }} {{ especialista.apellido }}
          </button>
        </div>
        <h4 *ngIf="noHayEspecialistas">
          No se encuentran especialista con esta especialidad
        </h4>
      </div>
    </div>
  </div>

  <div class="row mb-3 justify-content-center text-center">
    <div *ngIf="showAddDia">
      <label class="fs-4 fw-bold">Seleccione un Dia</label>
      <div class="row justify-content-center">
        <div
          class="col-2 mb-3"
          *ngFor="let dia of matrizTurnosDisponibles | keyvalue; let i = index"
          id="{{ i }}contenedorDia"
        >
          <button
            class="btn btn-matriz me-4 fw-bold btn-success"
            (click)="onDiaSeleccionado(dia.key, $event)"
          >
            {{ dia.key }}
          </button>
        </div>
        <h4 *ngIf="noHayDiasDisponibles">No se encuentran dias disponibles</h4>
      </div>
    </div>
  </div>

  <div class="row mb-3 justify-content-center text-center">
    <div *ngIf="showAddHorario">
      <label class="fs-4 fw-bold">Horario</label>
    </div>
    <h4 *ngIf="noHayHorariosDisponibles">
      No se encuentran horario disponibles
    </h4>
    <div class="row" *ngFor="let dia of matrizTurnosDisponibles | keyvalue">
      <div *ngIf="dia.key == diaSeleccionado">
        <div class="row justify-content-center">
          <div
            *ngFor="let horario of dia.value; let i = index"
            id="{{ i }}btnHorario"
            class="col-3"
          >
            <button
              [disabled]="dia.value.length == 1"
              class="btn btn-matriz me-4 mb-3 fw-bold btn-success"
              (click)="onHorarioSeleccionado(horario, $event)"
            >
              {{ horario }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-around">
  <div
    class="alert mt-3"
    [ngClass]="tipoAlerta"
    role="alert"
    *ngIf="mostrarMensaje"
  >
    <small>{{ mensaje }}</small>
  </div>
  <button
    (click)="onSubmit()"
    class="btn btn-success btn-lg col-4"
    [disabled]="!checkForm"
  >
    Solicitar
  </button>
</div>
