<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-5 border-end">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a (click)="onShowRegistroTurnos()">
            <span class="fs-5">Descargar turnos por especialidad</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-7">
      <section *ngIf="showRegistrosTurnos">
        <h4 class="text-center">Especialidades</h4>
        <div class="row justify-content-center">
          <div
            [@animateGallery]="'swing'"
            (click)="descargarRegistro(especialidad)"
            class="btn btn-lg btn-success col-4 me-2 mb-2"
            *ngFor="let especialidad of especialidades"
          >
            {{ especialidad }}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
